$font-stack:       Helvetica, sans-serif;
$primary-color:    #F6D8AE;
$secondary-color:  #6ECB63;
$tertiary-color:   #3EDBF0;
$background-color: #2E4057;

h1,h2,h3 {
  color: $tertiary-color;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: $background-color;
  margin: 5%;
}

a {
  color: $secondary-color;
}
