---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="start" title="Home" href="/">
    <link rel="stylesheet" type="text/css" href="{% link assets/css/styles.scss %}">
    <link rel="icon" type="image/png" href="{% link assets/images/favicon.ico %}">
    <title>{{ page.title }} - ClearCode Daily Reports</title>
  </head>
  <body>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
